body {
    background: rgb(125, 125, 146);
}
/*navigation bar*/
.mynav {
  background: silver !important;
  padding: 20px;
}
.mynav a {
  margin-right: 30px;
}
.mynav a:hover {
  border-bottom: 1px solid black;
}
.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}
/* hero section*/
#hero {
  text-align: center;
  padding: 70px;
}
.img-fluid {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  float: center;
  top: 50%;
  right: 100%;
  border: 5px solid white;
  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
  cursor: pointer;
  filter: grayscale(100%);
  margin: 30px;
}
.img-fluid:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 3px 3px 20px rgba(0,0,0,.5);
}
/* picture About me*/
#header img {
  width: 220px;
  height: 220px;
  border-radius: 20%;
  position: left;
  top: 50%;
  right: 70%;
  border: 5px solid white;
  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
  cursor: pointer;
  transition: .5s;
  user-select: none;
  filter: grayscale(100%);
  margin-bottom: 80px;
}

#header img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 3px 3px 20px rgba(0,0,0,.5);
}
H1 {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(11, 12, 12);
}
H2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 30px;

}
/*cards*/
.card {
  width: 280px;
  height: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(250, 248, 248);
}
.card:hover {
transform: scale(1.05);
}
/*footer*/
footer {
  background: silver;
  text-align: center;
  margin-top: 450px;
  padding: 50px;
}
.media i {
  color: rgb(58, 57, 57);
  font-size: 30px;
}
.media i:hover {
  transform: scale(1.20);
}
/*contact form*/
.container-box {
    background: silver;
    margin-top: 300px;
    padding: 10px;
}

.form-control {
  background-color: rgb(219, 217, 217);
}
 .btn:hover {
    transform: scale(1.05);
}
#details {
  text-align: center;
  margin: 50px;
  float:inline-end;
}
   